:root {
    --magin: 25px;
    --input_height:30px ;
    --button_border_radius:2px;
}

.header {
    padding: 10px;
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
} 

img {
    width: 80px;
    height: 25px;
}

h3{
    color: rgba(255, 0, 0, 0.89);
    margin-left: 3%;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 25px;
}

.container {
    border-top:1px solid rgba(200, 200, 200, 0.507);
    border-bottom:1px solid rgb(200, 200, 200, 0.507);
    padding: 40px 0px 40px 3%;
    font-size: large;
    display: grid;
    grid-template-columns:  15% 10% 10% 10% 10% 10% 10% 10% 10% 5%;
    
}

.finding {
    display: flex;
    flex-direction: column;
    grid-column: span 1;
}

.inputs {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    margin-top: 50px;
}

.to_do {
    color: #4f4f4fd7;
    display: flex;
    flex-direction: column;
    grid-column: span 5;
}
.to_do > label {
    margin-left: var(--magin);
    font-size: 14px;
}

span {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}

label{
    height: var(--input_height);
    margin-top: var(--magin);
}

input {
    text-align: left;
    border-radius: 1px;
    border: 1px solid #68686872;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: var(--input_height);
    padding: 0px 10px;
    margin-bottom: var(--magin);
}

.submit {
    align-self: flex-end;
}

.search_button {
    background-color: #4d90fe;
    color: white;
    font-weight: bold;
    padding: 8px 13px;
    border:none;
    border-radius: var(--button_border_radius);
    outline: none;
    text-align: center;
    height: 35px;
    width: 135px;
    cursor: pointer;
}

.search_button:hover {
    background-color: #3883fd;
}